body {
    background: #222;
    color: #ccc;
}

#logo {
    margin: 15px;
    color: #2364b9;
    font-size: 19px;
    cursor: pointer;
}

.nav-underline {
    padding-top: 25px;
    padding-right: 25px;
}

.nav-underline li {
    float: right;
}

.nav-underline li a {
    color: #ccc;
    background-color: unset !important;
}

.nav-underline .active {
    border-bottom: 3px solid #fff;
}

.nav-underline li:hover:not(.active) {
    color: #ccc;
    border-bottom: 1px solid #fff;
}

footer {
    margin-top: 30px;
    padding: 40px 0 60px 0;
    background: #292929;
}
